<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/warehouse-style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Storage Management</title>
</head>

<body>
    <div class="container">
        <div class="sidebar hide">
            <div class="logo-content">
                <i class='bx bxs-server bx-lg'></i>
                <span id="logo-name">StorageM</span>
            </div>
            <a href="#">
                <i class='bx bx-left-arrow-alt bx-md' id="arrow-list"></i>
            </a>
            <ul class="menu">
                <li class="dashboard">
                    <a href="/">
                        <i class='bx bx-chalkboard bx-sm'></i>
                        <span id="dashboard">DashBoard</span>
                    </a>
                </li>
                <li class="warehouse">
                    <a href="/warehouse">
                        <i class='bx bxs-factory bx-sm'></i>
                        <span id="warehouse">WareHouse</span>
                    </a>
                </li>
                <li class="product">
                    <a href="#">
                        <i class='bx bx-package bx-sm'></i>
                        <span id="product">Product</span>
                    </a>
                </li>
                <li class="incomming-order">
                    <a href="#">
                        <i class='bx bx-cart bx-sm'></i>
                        <span id="incomming-order">Incomming Order</span>
                    </a>
                </li>
                <li class="outgoing-order">
                    <a href="#">
                        <i class='bx bx-cart bx-sm'></i>
                        <span id="outgoing-order">Outgoing Order</span>
                    </a>
                </li>
                <li class="return">
                    <a href="#">
                        <i class='bx bx-repost bx-sm'></i>
                        <span id="return">Return</span>
                    </a>
                </li>
            </ul>
            <div class="acc-space">
                <div class="img">
                    <img src="assets/img/acc-ex.jpg" alt="acc-img" id="acc-pic">
                </div>
                <div class="name">
                    <span id="firstname">Prapakorn</span>
                    <span id="lastname">Butyojanto</span>
                </div>
                <a href="#">
                    <i class='bx bx-exit bx-md'></i>
                </a>
            </div>
        </div>

        <div class="content ">
            <div class="header-content">
                <i class='bx bxs-factory bx-lg '></i>
                <span id="content-name">WareHouse</span>
                <div class="add-button">
                    <button id="add">
                        <label for="add">+</label>
                    </button>
                </div>
            </div>
            <div class="content-item">
                <% if (warehouse.length> 0) {%>
                    <% warehouse.forEach((warehouse, index)=> { %>
                        <div class="item-container">
                            <img src="/assets/img/default-warehouse-img.png" alt="warehouse-img">
                            <div class="text-warehouse">
                                <span id="warehouse-name">
                                    <%= warehouse.name %>
                                </span>
                                <div class="adr">
                                    <% if (warehouse.address2) {%>
                                        <span id="adr">
                                            <%= warehouse.address+ " " + warehouse.street + " " + warehouse.address2  + " " + warehouse.state + " " + warehouse.city + " " + warehouse.zipcode %>
                                        </span>
                                        <% } else { %>
                                            <span id="adr">
                                                <%= warehouse.address+ " " + warehouse.street + " " + warehouse.state + " " + warehouse.city + " " +  warehouse.zipcode %>
                                            </span>
                                        <% } %>
                                </div>
                                <span id="manager-name">Manager name: <%= warehouse.manager%></span>
                                <div class="contact">
                                    <span id="tel">Tel.:<%= warehouse.number %></span>
                                    <span id="email">Email:<%= warehouse.email %> </span>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <span id="no_warehouse"> No WareHouse exists.</span>
                                <% } %>
            </div>
        </div>
    </div>

    <div class="form">
        <div class="head-form">
            <i class='bx bxs-message-alt-add bx-lg'></i>
            <span id="head-name">New WareHouse</span>
        </div>
        <form action="/adw" method="post">
            <div class="info">
                <label for="warehouse_name">
                    <span id="warehouse_name">WareHouse Name</span>
                    <input type="text" name="warehouse_name" id="warehouse_name" required>
                </label>
                <label for="manager_name">
                    <span id="manager_name">Manager Name</span>
                    <input type="text" name="manager_name" id="manager_name" required>
                </label>
            </div>
            <div class="addr">
                <label for="address">
                    <span id="address">Address</span>
                    <input type="text" name="address" id="address" required>
                </label>
                <label for="street">
                    <span id="street">Street</span>
                    <input type="text" name="street" id="street" required>
                </label>
                <label for="address2">
                    <span id="address2">Address Line 2</span>
                    <input type="text" name="address2" id="address2">
                </label>
                <label for="state">
                    <span id="state">State</span>
                    <input type="text" name="state" id="state" required>
                </label>
                <label for="city">
                    <span id="city">City</span>
                    <input type="text" name="city" id="city" required>
                </label>
                <label for="zipcode">
                    <span id="zipcode">Zipcode</span>
                    <input type="text" name="zipcode" id="zipcode" maxlength="5" required>
                </label>
            </div>
            <div class="contact">
                <label for="tel">
                    <span id="tel">Tel.</span>
                    <input type="tel" name="tel" id="tel" required>
                </label>
                <label for="email">
                    <span id="email">Email</span>
                    <input type="email" name="email" id="email" required>
                </label>
            </div>
            <div class="button">
                <button id="confirm" type="submit">Confirm</button>
            </div>
            <div class="manage-delete">
                
            </div>
        </form>
        <button id="cancel">Cancel</button>
    </div>

    </div>

    <script src="js/index.js"></script>
    <script src="js/warehouse.js"></script>
</body>

</html>